body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #7c2a2a;
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    color: #a1b810;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #2e8b57;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    user-select: none;
}

.card.flipped {
    background-color: #2374cb;
    color: #333;
}

.card.matched {
    background-color: #4caf50;
    color: #481dc9;
    cursor: default;
}
