#main{
    display: flex;
  justify-content: space-between;
}
body{
    background-color: rgb(26, 26, 60);
    padding: 25px;
    margin: 25px;
}

p {
    color: white;
}

h1{
    color: rgb(244, 219, 187);
    text-align: center;
}
.tabla{
    background-color: rgb(240, 210, 171);
    border: 3px solid black;
    border-radius: 20px;
}
div{
    padding-left: 125px;
    padding-right: 110px;
    padding-bottom: 5px;
}

a {
    color: red;
    text-decoration: underline brown;
}

h2 {
    color: darkred;
}